header {
    background-color: #ddd0f1;
    color: rgb(13, 13, 14);
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
}
h1{
    font-size: x-large;
}
h2{
    font-size: large;
}
*{
    background-color: #ddd0f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}

footer {
    background-color: #630101;
    color: rgb(13, 13, 14);
}

* {
    text-align: center;
    font-size: 500;
}

* {
    margin: 2;
    border: 1;
    padding: 2;

}