* {
    background-color: #161616;
    color: rgb(249, 249, 252);
    font-size: xx-large;
    text-align: center;
    vertical-align: middle;
}
footer {
    background-color: #358cd3;
    color: rgb(4, 0, 8);
    font-size:large;
}